.a{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(247, 248, 240);
}

.a-left{
    flex:1;
}

.a-right{
    flex:1;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}